<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bbrown">
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
      <!-- *ngFor="let item of items; let i = index" -->
      <ion-item *ngFor="let item of cart.items; let i = index">
        <ion-thumbnail item-start>
          <img [src]="item.image">
        </ion-thumbnail>
        <h2>{{ item.name }}</h2>
        <p>Size : {{ item.size }}</p>
        <p>{{ item.price }} THB</p>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button icon-only small id="cartDecrease" (click)="decrease(i)">
                <ion-icon name="remove"></ion-icon>
              </button>
              <label class="count">{{item.qty}}</label>
              <button ion-button icon-only small id="cartIncrease" (click)="increase(i)">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-6 text-center style="margin-top:6px;">
              <ion-icon name="trash" color="danger" (click)="removeItem(i)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div>
      <ion-row class="categories-title">
        <ion-col col-7>
          <p class="color-black-custom font-bold">รวมสุทธิ</p>
        </ion-col>
        <ion-col col-5 text-right>
          <p class="color-black-custom font-bold">{{cart.total}} THB</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button block color="danger" (click)="dissCart()">ยกเลิกรายการ</button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="gotoOrder()" id="addorder">สั่งซื้อสินค้า</button>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-footer>