<!-- Generated template for the IonSegmentProductComponent component -->
<div *ngIf="parent.channel == 1">
  <!-- <ion-list-product [items]="items.waiting" [status]="'hot'" (itemClicked)="getItem($event)" (click)="getOrder()"></ion-list-product> -->
</div>
<div *ngIf="parent.channel == 2">
  <!-- <ion-list-product [items]="items.accept" [status]="'iced'" (itemClicked)="getItem($event)" (click)="getOrder()"></ion-list-product> -->
</div>
<div *ngIf="parent.channel == 3">
  <!-- <ion-list-product [items]="items.sent" [status]="'frappe'" (itemClicked)="getItem($event)" (click)="getOrder()"></ion-list-product> -->
</div>