<!-- Generated template for the IonSegmentOrderComponent component -->
<div *ngIf="parent.channel == 1">
  <ion-list-order [items]="items.waiting" [status]="'waiting'" (itemClicked)="getItem($event)" (click)="getOrder()"></ion-list-order>
</div>
<div *ngIf="parent.channel == 2">
  <ion-list-order [items]="items.accept" [status]="'accept'" (itemClicked)="getItem($event)" (click)="getOrder()"></ion-list-order>
</div>
<div *ngIf="parent.channel == 3">
  <ion-list-order [items]="items.sent" [status]="'sent'" (itemClicked)="getItem($event)" (click)="getOrder()"></ion-list-order>
</div>
<div *ngIf="parent.channel == 4">
  <ion-list-order [items]="items.return" [status]="'return'" (itemClicked)="getItem($event)" (click)="getOrder()"></ion-list-order>
</div>